

#app-container {
  width: 500px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: purple;

}

#search-box {
  width: 100%;
  padding: 8px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  

}

#book-list {
  margin-top: 20px;
}

#book-item {
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left;
}
